body {
    margin: 0;
    border: 0;
    padding: 0;
}


/*-----------------------Header----*/

.logo {
    height: 6.25rem;
    width: 6.25rem;
    background-image: url("../images/logo2.jpg");
    background-repeat: no-repeat;
}

.navbar {
    text-align: right;
    position: fixed;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 1rem;
    background: rgb(11,77,225);
    background: linear-gradient(90deg, rgba(11,77,225,1) 0%, rgba(57,153,251,1) 37%, rgba(57,208,251,1) 91%);
}

.navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.navbar-brand {
    display: inline-block;
    padding-top: .15rem;
    padding-bottom: 0.15rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
  




.nav-link {
    display: block;
    
    
}

.nav-link-signup {
    color:#fff !important;
    padding-top: 0.375em;
   
}



nav div ul li a {
    width: auto;
    color: #fff;
    padding-bottom: 0.6rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
}

ul li p {
    width: auto;
    
}

.container-fluid {
    padding: 0;
   
}

li p {
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

li p:hover {
    cursor: pointer;
}

.li-contact-us {
    margin-bottom: 0.75rem;
}

.btn {
    display: inline-block;
    font-weight: 400; 
    color: #fff; 
    text-align: center; 
    vertical-align: middle; 
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-bottom: 0.15rem;
}

.btn-signup {
    background-color: rgba(11,77,225,1);
    border: 0.0625rem solid rgba(11,77,225,1);
    margin-bottom: 1rem;
}

.btn-signup:hover {
    background-color: rgb(0, 65, 204);
    border-color: rgb(0, 65, 204);
    
}

    
/*----------------------Footer-----*/
.footer-wrapper {
    background: rgb(11,77,225);
    background: linear-gradient(90deg, rgba(11,77,225,1) 0%, rgba(57,153,251,1) 37%, rgba(57,208,251,1) 91%);
}
.social-header {
     
     text-align: center;
     padding-top: 0.3125rem;
     letter-spacing: 0.125rem;
     font-weight: bold;
}

.social-header h5{
   
     text-align: center; 
     margin: 0; 
     font-size: 1.5rem; 
}

.social-list ul {
    margin: 0;
    padding: 0;
}

.social-list li {
    padding: 1.0625rem 0;
    text-align: center;
}

.social-list ul li a {
    padding: 0 1rem;

}

.social-list ul li a i {
    color: black;
    transition-property: color;
    transition-timing-function: ease-in-out;
    transition-duration: .4s;
       -moz-transition: color .4s ease-in-out;
    -webkit-transition: color .4s ease-in-out;

}


.social-list ul li a:hover {
    text-decoration: none;
}

.social-list ul li a i:hover {
    color: white;
}

.row {
    margin:0;
}

.fab {
    color:black;
}



li {
    list-style-type: none;
    text-decoration: none;
}
/*----------------------Index-----*/




/*-----------------------Index Section carousel----*/

.carousel-section {
    padding-top: 3.5625rem;
}

.carousel-item {
   height: 31.25rem;
}

.carousel-item img {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    height: 37.5rem;
    
}

/*.carousel-img-1 {     -------------------Move to media query---
    padding-bottom: 23.125rem;
    
}*/






.carousel-caption-edit-picture1 {
    position: absolute;
    top: 1.25rem; /*Put this padding in the media query - padding: top 1.25rem right 0px;*/
    right: 0.3125rem;
    z-index: 10;
    padding: 1.25rem 1.25rem 1.25rem; 
    color: black;
    text-align: center;
    background-color: rgba(170, 170, 170, 0.6);
}

.carousel-caption-edit-picture2 {
   position: absolute;
    top: 1.25rem;
    right: 0.3125rem;
    z-index: 10;
    padding: 1.25rem 1.25rem 1.25rem;
    color: black;
    text-align: center;
    background-color: rgba(170, 170, 170, 0.6);
    
}

.carousel-caption-edit-picture3 {
    position: absolute;
    top: 1.25rem;
    right: 0.3125rem;
    z-index: 10;
    padding: 1.25rem 1.25rem 1.25rem;
    color: black;
    text-align: center;
    background-color: rgba(170, 170, 170, 0.6);
}

.carousel-caption-color h5, .carousel-caption-color p {
    padding-bottom: 0;
    color: #fff;
    margin: 0;
}

/*---Index About----*/

.about {
    margin-bottom: 0;
    background-color:#fff;


}

.about-image-container1 {
    padding-top:1.875rem;
    padding-bottom: 1.875rem;
    padding-right: 1.875rem;
    padding-left: 1.875rem;
}

.about-image-container2 {
    padding-top:0;
    padding-bottom: 1.875rem;
    padding-right: 1.875rem;
    padding-left: 1.875rem;
}

.about-image {
    overflow: hidden;
    object-fit: cover;
    width: 100%;
    height: 18.75rem;
}

.about-text-container1 {
    padding-top:0;
    padding-bottom: 1.875rem;
    padding-right: 1.875rem;
    padding-left: 1.875rem;
 
}

.about-text-container2 {
    padding-top:0;
    padding-bottom: 1.875rem;
    padding-right: 1.875rem;
    padding-left: 1.875rem;
 
}
.about-text {
    background: rgb(11,77,225);
    background: linear-gradient(180deg, rgba(11,77,225,1) 0%, rgba(57,153,251,1) 14%, rgba(57,208,251,1) 91%);
    height:18.75rem;
    padding: 1.25rem;
    overflow: hidden;
    color:black;    
}

/*----------------------------------------------------------Why not pop in?-----*/

.visit {
    background-color: #eceff1;
    color: black;
}

.visit-header {
    text-align: center;
    font-weight: 700;
    padding: 0.625rem 1.875rem 0px 1.875rem;
}

.visit-text {
    text-align: center;
    padding: 1rem 1.875rem 0px 1.875rem;
}

.visit-header p {
    text-align: center;
    font-weight: 400;
    font-size: 1.2rem;
    margin: 0;

}

.next-meeting-wrapper {
    padding-left: 1.875rem;
    padding-right: 1.875rem;
    margin-top: 1.875rem;
}

.next-meeting-wrapper-last {
    margin-bottom: 1.875rem;
}

.next-meeting-pic {
    background-image: url("../images/pop-in-image.jpg");
    background-size: cover;
   
}

.next-meeting-info {
    color: #fff;
    text-align: center;
    background-color: rgba(170, 170, 170, 0.4);
    font-weight: 600;
    padding: 1.875rem 1.25rem;
    
}

.visit-title {
    text-decoration: underline;
    padding-bottom: 0.625rem;
}

.next-meeting-info p {
    margin: 0;
    font-size: 1.2rem;
}

p.visit-title {
    text-decoration: underline;
    padding-bottom: 0.625rem;
    font-size: 1.75rem;
}

/*---Pricing-----*/

#anchor-container {
    height: 60px;
    display: none;
}

#pricing-target1a {
    background:#eceff1;
    color: #eceff1;
    height:30px;
}
#pricing-target1b{
    background:#fff;
    color: #fff;
    height:30px;

}


#anchor-container:target {    /*https://codepen.io/amiteshchauhan/pen/oxaBPG*/
    display:block;
}


.card-bronze {
    
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0.0625rem solid #cd7f32;
    border-top-left-radius: 0.25rem;
    border-top-left-radius: 0.25rem;

}

.card-silver {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0.0625rem solid silver;
    border-top-left-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
}

.card-gold {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0.0625rem solid gold;
    border-top-left-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
}


.card-wrapper {
    text-align: center;
    
    
}

.card-body {
    text-align: left;
    padding: 1.25rem 1.25rem;
    
}

.card-body ul {
    margin-bottom: 0;
}

.card-text {
    list-style-type: disc;
    
    
}



.bronze-membership {
    background-color:#fff;
    margin-top: 0 ;
    margin-bottom: 1.25rem;
    display: inline-block;
    width: 100%;
}

.silver-membership {
    background-color: #fff;
    margin-top: 0;
    margin-bottom: 1.25rem;
    display: inline-block;
    width: 100%;
}

.gold-membership {
    background-color:#fff;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    display: inline-block;
    width: 100%;
}



.membership-card-header-gold {
    background-color: gold;
    background-clip: border-box;
    border-top-left-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
    height: 3.125rem;
}

.membership-card-header-silver {
    background-color:silver;
    background-clip: border-box;
    border-top-left-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
    height: 3.125rem;
}

.membership-card-header-bronze {
    background-color: #cd7f32;
    background-clip: border-box;
    border-top-left-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
    height: 3.125rem;
    margin: 0;
}

.membership-card-header-bronze h3, .membership-card-header-silver h3, .membership-card-header-gold h3 {
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin: 0;
}
  

.card p {
    margin-bottom: 0;
}

.card-footnote {
    padding-left: 2.5rem;
}




/*----------------------Meetings-----*/
.location-info-container {
    overflow:hidden;
  
}



#anchor-container-cam, 
#anchor-container-leeds,
#anchor-container-notts, 
#anchor-container-manc, 
#anchor-container-york, 
#anchor-container-ldn{
   height: 65px;
   background:#eceff1 ;
   color: #eceff1;
   display: none;
}

#anchor-container-cam:target,
#anchor-container-leeds:target, 
#anchor-container-notts:target, 
#anchor-container-manc:target, 
#anchor-container-york:target, 
#anchor-container-ldn:target {
    display: block;

} 



.menu-for-locations {
    background: yellow;
}

.location-information {
    background-color: #eceff1;
}

.location-wrapper-container {
    background-color: #fff;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}

.location-wrapper {
    padding-left: 15px;
    padding-right: 15px;
}


.meetings-header {
    text-align: center;
    margin-top: 0.75rem;
}

.meeting-info-text {
    text-align: center;
    margin-top: 0.5rem;
}

.drpdwn-btn {
    text-align: center;
}

.show>.btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: rgba(11,77,225,1);
    border-color: rgba(11,77,225,1);
}

.location-information .drp-dwn-btn-design {
    padding: 0.25rem;
    background-color: rgba(11,77,225,1);
    border-color: rgba(11,77,225,1);
    margin-bottom: 1rem;
}


.location-wrapper {
    margin-bottom: 2rem;
}
.location-information{
    padding-top: 3.5625rem;
}

.location-header {
    text-align: center;
    border: 0.0625rem solid black;
 
}

.location-picture {
    border-left: 0.0625rem solid black;
    border-right: 0.0625rem solid black;
    border-bottom: 0.0625rem solid black;
}



.information-grid {
    padding-left: 0;
    padding-right: 0;
}

.information-manchester, .information-venue {
   border-right: 0.0625rem solid black;
   border-bottom: 0.0625rem solid black;
}

.information-venue i {
    padding-right: 8px;

}

.information-venue-bottom i {
    padding-right: 8px;
    padding-left: 8px;

}

.information-venue-bottom {
    border-left: 0.0625rem solid black;
    border-right: 0.0625rem solid black;
    border-bottom: 0.0625rem solid black;
    padding-left: 0.5rem;
}



/*----------------------Sign-Up-----*/
.sign-up-page {
    background-color: #eceff1;
}

.sign-up-header {
    padding-top: 3.5625rem;
    text-align: center;
    padding-bottom: 1rem;
}

.sign-up-header h2 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.signup-containter {
text-align: center;

}

.member-col-10 {
    padding-left: 0px;
}

.container-signup{
    color: #49503.5625rem;
    background-color: #fff;
    background-clip: padding-box;
    border: 0.0625rem solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;  
}
    
.container-membership {
    color: #49503.5625rem;
    background-color: #fff;
    background-clip: padding-box;
    border: 0.0625rem solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-bottom: 1rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;

}

.container-membership .form-group label, .form-check-input  {
    margin-top: 1rem;
    
}


.form-check-inline .form-check-input {
    position: static;
    margin-top: 1rem;
    margin-right: .3125rem;
    margin-left: 0;
}
.container-membership .form-group label {
    margin-bottom: 0;

}

.signup {
    text-align: center;
}

.sign-up-button-submit {
   padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.75rem;
    font-size: 1.2rem;
    background-color: rgba(11,77,225,1);
    border-color: rgba(11,77,225,1);
    margin-bottom: 1rem;
}

.sign-up-button-submit:hover {
        background-color: rgb(0, 65, 204);
        border-color: rgb(0, 65, 204);
}



/*----------------------Members/Login Page-----*/



.members {
        padding-top: 3.5625rem;
        background-color: #eceff1;
    }

.members-heading {
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 0.75rem;
}

.members-info {
    text-align: center;
    padding-bottom: 0.625rem;

}

.additional-questions {
    text-align: center;
    margin-top: 0.5rem;
    font-size: 1.2rem;
}

.additional-questions a {
    text-decoration: none;
}

.login-button {
    text-align: center;
    margin-bottom: 0.75rem;
    margin-top: 0.75rem;

}

.login-button-submit {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.75rem;
    font-size: 1.2rem;
    background-color: rgba(11,77,225,1);
    border-color: rgba(11,77,225,1);
}

.login-button-submit:hover {
    background-color: rgb(0, 65, 204);
    border-color: rgb(0, 65, 204);
}

.form-check-label p {
    font-size: 1rem;
    margin: 0;
}

.form-check {
    margin-bottom: 0;
}

.form-check-input-login {
    margin-top: 0.5rem;
}

.forgotten-password {
    margin-bottom: 1.5rem;
}

.rememberMe p{
    margin-left: 0.5rem;
}



/*this is from https://stackoverflow.com/questions/4137255/checkboxes-in-web-pages-how-to-make-them-bigger
input[type='checkbox'] {
    -webkit-appearance:none;
    width:30px;
    height:30px;
    background:white;
    border-radius:5px;
    border:2px solid #555;
}
input[type='checkbox']:checked {
    background: #abd;
}
*/

/*----------------------Contact Us-----*/

.modal-wrapper .modal-header {
    background-color: #eceff1;
    text-align: center;
    
}

.modal-title {
    padding-left: 2rem;
}

.modal-body {
    background-color: #eceff1;
}


.modal-footer {
    background-color: #eceff1;
}

.alternative-header {
    margin-bottom: 1rem;
}

.contact-list{
     padding-left: 5%;
     text-align: center;
     margin-bottom: 1rem;
}




.modal-title {
    font-size: 2.5rem;
}

.modal-header .close {
    padding: 1rem 1rem;
    margin: -1rem -1rem -1rem auto;
}

.modal-about-text {
    text-align: center;
    padding: 0.3125rem;
}

.contact-form-wrapper {
    border-bottom: 0.125rem solid #dee2e6;
}

.form-group label {
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
}

.form-control {
    margin-bottom: 0.5rem;
}

.modal-btn-wrapper {
    text-align: center;
    
}

.btn-modal {
    padding: 0.375rem 0.75rem;
    background-color: rgba(11,77,225,1);
    border-color: rgba(11,77,225,1);
    margin-bottom: 1rem;
}

.btn-modal:hover {
    background-color: rgb(0, 65, 204);
    border-color: rgb(0, 65, 204);
}

.btn-modal h5 {
    margin-bottom: 0.125rem;
}

.social-contact-wrapper {
    border-bottom: 0.125rem solid #dee2e6;
   
   
    
}

.social-contact {
    text-align: center;
    padding: 0.3125rem;
}

.contact-modal-p-wrapper {
    padding:0;
}


.contact-modal-p {
    font-size: 1.4rem;
    margin-bottom: 0;
}

.contact-icon-wrapper {
  
    padding-bottom: 1rem;
}

.contact-social-icon {
    text-align: center;    
}

.contact-social-icon a i{
    color: black;
    transition-property: color;
    transition-timing-function: ease-in-out;
    transition-duration: .4s;
    -moz-transition: color .4s ease-in-out;
    -webkit-transition: color .4s ease-in-out;
}

.contact-social-icon a i:hover{
    color:rgba(11,77,225,1);
}

.alternative-comm-wrapper {
    margin-top: 2rem;
    text-align: center;
}

.btn-contact-close {
    padding: 0.375rem 0.375rem;
    background-color: rgba(170, 170, 170, 0.4);
    color: black;
    border-color: rgba(170, 170, 170, 0.4);
}


/*-----------------------------------Media Queries--------*/


/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 

/*-----------Footer--------*/
.social-list ul {
    margin: 0;
    padding: 0;
    text-align: center;
}
.about {
    margin-bottom: 0;
    background-color:#fff;


}

.about-image-container1 {
    padding-top:1.875rem;
    padding-bottom: 1.875rem;
    padding-right: 1.875rem;
    padding-left: 1.875rem;
    text-align: center;
}

.about-image-container2 {
    padding-top:0;
    padding-bottom: 1.875rem;
    padding-right: 70px;
    padding-left: 70px;
    text-align: center;
    
}

.about-image {
    overflow: hidden;
    object-fit: cover;
    width: 100%;
    height: 18.75rem;
}


.about-text-container1 {
    padding-top:0;
    padding-bottom: 1.875rem;
    padding-right: 4.375rem;
    padding-left: 4.375rem;
 
}

.about-text-container2 {
    padding-top:0;
    padding-bottom: 1.875rem;
    padding-right: 4.375rem;
    padding-left: 4.375rem;
 
}
.about-text {
    background: rgb(11,77,225);
    background: linear-gradient(180deg, rgba(11,77,225,1) 0%, rgba(57,153,251,1) 14%, rgba(57,208,251,1) 91%);
    height:18.75rem;
    padding: 1.25rem;
    overflow: hidden;
    color:black;    
}

/*---------Visit-------*/
.visit-header {
    padding-top: 2rem;
}
.visit-header p {
    padding-top: 1rem;
   
}

.visit-text {
    padding: 1rem 30px 0 30px;
    font-size: 1.2rem;
}

.next-meeting-wrapper {
    margin-top: 1rem;
}

.next-meeting-info p {
    font-size: 1.5rem;
}

/*-----Visit Section----*/
.card-wrapper {
    padding-left: 90px;
    padding-right: 90px;
}

.card-body {
    padding-left: 40px;
    padding-right: 40px;
    
}

.card-body h3 {
    padding-left: 60px;
    font-size: 30px;
}

.card-body ul, .card-footnote {
    padding-left: 120px;
}



}

/* Medium devices (tablets, 768px and up)*/
/*Navbar*/
@media (min-width: 768px) {
    .navbar {
    text-align: right;
    position: fixed;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0;
    background: rgb(11,77,225);
    background: linear-gradient(90deg, rgba(11,77,225,1) 0%, rgba(57,153,251,1) 37%, rgba(57,208,251,1) 91%);
}

.navbar-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    padding-top: 0.75rem;
    margin-bottom: 0;
    list-style: none;
    font-size: 1.2rem;
   
}

.btn-signup {
    font-size: 1.2rem;
}


/*Footer*/

.social-header h5{
    font-size: 2rem;
}

.social-list {
    text-align: center;
    height: auto;
    padding: 0 0;
}



.social-list ul li a {
    padding: 0 2rem;
}

.social-list li {
    padding: 1.0625rem 0;
}

.social-header{
    font-size: 2rem;
    letter-spacing: 0.25rem;
}



/*Index page */

/*carousel*/
.carousel-caption-edit-picture1 h5, .carousel-caption-edit-picture2 h5, .carousel-caption-edit-picture3 h5{
    font-size: 2rem;

}

.carousel-caption-edit-picture1, .carousel-caption-edit-picture2, .carousel-caption-edit-picture3 {
    margin-top: 1.25rem;
}


/*about*/
.about-image-container1  {
padding: 30px 0px 0px 30px;

}

.about-image-container2 {
padding: 0px 30px 30px 30px;
}

.about-text-container1
{
padding: 30px 30px 30px 30px;

}
.about-text-container2 {
padding: 0px 0px 30px 30px;
}

/*---Index-Why not pop in?*/

.visit-header h2 {
    font-size: 3rem;
}

.visit-text p {
    font-size: 1.75rem;
}
.next-meeting-wrapper {
    padding-left: 0;
    padding-right: 0;

}

.next-meeting-wrapper-md-col1{
    padding-left: 30px;
    padding-right: 0;
}


.next-meeting-wrapper-md-col2{
    padding-left: 15px;
    padding-right: 15px;
}

.next-meeting-wrapper-md-col3{
    padding-left: 0;
    padding-right: 30px;
}

.next-meeting-info p{
    font-size: 1.5rem;
}

p.date, p.time {
    margin-bottom: 8px;

}

.md-break {
    display:block;
}


/*---Index---Pricing---*/

.card-wrapper {
    padding-left: 10px;
}

.card-wrapper-md1 {
    padding-right: 10px;
    
}

.card-wrapper-md2 {
    padding-right: 10px;
    padding-left: 10px;
    
}

.card-wrapper-md3 {
    padding-left: 10px;
    padding-right: 10px;
    
}

.gold-membership {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    padding-bottom: 37.333px;
    
    
}

.silver-membership {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    padding-bottom: 37.333px;
    
    
}

.bronze-membership {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    
}

.card-body {
    padding: 20px 10px;
}
.card-body h3 {
    padding-left: 10px;
}

.card-body ul {
    padding-left: 40px;
}


.card-body ul li {
    padding-left:0;
}
.card-text {
    padding-left: 10px;
}


/*-----Members---*/

.members-heading {
    margin-top: 2rem;
    font-size: 3rem;
}

.members-heading h2 {
    font-size: 3.5rem;
}


.members-info {
    margin-bottom: 1rem;
}

.members-info h6 {
    font-size: 2rem;
    font-weight: 400;
}

.members-form .form-group label {
    font-size: 2rem;
}

.rememberMe p {
    font-size: 1.5rem;
}

.big-checkbox {
    width:18px;
    height: 18px;
    
}

.form-check-input-login {
    margin-top: 0.68rem;
}

.form-group p.text-muted {
    margin-left: 2px;
}

.additional-questions p {
    font-size: 2rem;
}

.login-button-submit {
    font-size: 2rem;
}

/*-----Meetings---*/

.location-information {
    padding-top:75px;
}

.meetings-header {
    padding-top: 1.75rem;
    margin-bottom:0.8rem;
    margin-top: 0;
}

.meetings-header h1 {
      font-size: 3.5rem;
}

.meeting-info-text h5 {
    font-size: 1.75rem;
}

.meeting-info-text p {
    font-size: 1.5rem;
}

.location-information .drp-dwn-btn-design {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}
    
.location-wrapper {
    padding-left: 48px;
    padding-right: 48px;
}

.information-manchester p{
    font-size: 1.25rem;
    margin-bottom: 0;
}

.information-venue p{
    font-size: 1.25rem;
    margin-bottom: 0;
    

}

.information-venue-bottom {
    font-size: 1.25rem;
}

.meetings-date {
    padding-left: 25px;
}

.location-header {
    font-size: 1.5rem;
    text-decoration: underline;
    letter-spacing: 2px;
}

.location-wrapper {
    padding-right: 5rem;
    padding-left: 5rem;
}
/*----Signup---*/

.sign-up-header {
    padding-top: 75px;
   
}  

.sign-up-header h2 {
    font-size: 3rem;
}  

.sign-up-header h5 {
    font-size: 2rem;
}  

.signup-container {
    padding: 2rem 45px;
}

.signup-container label {
    font-size: 2rem;
}

.signup-container .form-control {
    font-size: 1.5rem;
}

.container-membership {
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
}

.container-membership .form-check-label p {
    font-size: 1.5rem;
}

.sign-up-button-submit{
    font-size: 2rem;
}








}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

/*Index page - Carousel---*/

.carousel-item img {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    height: auto;
    
}

.carousel-item img.carousel-img-1 {
    top: -100px;
}

.silver-membership, .gold-membership {
    padding-bottom: 19px;
}

/*---Modal Contact Us----*/

.modal-dialog {
    max-width: 700px;
}

.modal-body {
    padding: 1rem 2rem;
}



.modal-wrapper .modal-content .modal-header {
padding-left: 200px;
}


.modal-content .modal-header button {
    margin-left: 1rem;
}
.contact-form-wrapper {
    padding-left: 30px;
    padding-right: 30px;
}


/*---sign-up---*/

.container-membership {
    width: 80%;
    padding-left: 0;
    padding-right: 0;
}

.sign-up-button-submit {
    margin-top: 0.5rem;
}

/*---Login---*/

.forgotten-password {
    margin-bottom: 5rem;
}

/*
.login-input input {
    font-size: 2rem;
}

.login-input label {
    font-size: 3.5rem;
}

.members-form .form-group label {
    font-size: 2.75rem;
}

.login-input p{
    font-size: 2rem;
}

.rememberMe p {
    font-size: 2rem;
    margin-left: 0.75rem;
}
*/
.big-checkbox {
    width: 18px;
    height: 18px;
}


/*----signup----*/

.lg-signup-form {
    background-color: #eceff1;
}
/*
.sign-up-header h2 {
    font-size: 2rem;
}

.sign-up-header h5 {
    font-size: 1.5rem;
}

*/

.form-part-one {
    padding-left: 60px;
    padding-right: 60px;
}

.form-part-two {
    padding-left: 60px;
    padding-right: 60px;
}

.container-membership {
    margin-top: 0;
}

.form-part-one label {
    margin-bottom: 1rem;
    margin-top: 1rem;
 /*   font-size: 1.5rem;*/
}
.form-part-two label {
    margin-bottom: 1rem;
    margin-top: 1rem;
/*    font-size: 1.5rem;*/
}

.form-part-two .container-membership {
    max-width: 60%;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0.5rem;
    margin-bottom: 1rem;
}
.container-membership .form-group label, .form-check-input {
    margin-top: 1.4rem;
}

.container-membership label.form-check-label {
 /*   font-size: 1.2rem;*/
}
.consent-wrapper {
    text-align: center;
}

.form-check-inline .form-check-input{
    margin-top: 3px;
}

.form-part-one select {
    margin-bottom: 2rem;
}

.consent-wrapper label {
  /*  font-size: 1.25rem; */
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}


.sign-up-button-submit {
   padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.75rem;
    font-size: 1.5rem;
    background-color: rgba(11,77,225,1);
    border-color: rgba(11,77,225,1);
    margin-bottom: 2rem;
}


}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1300px) { 
    


}











